$primaryColor: #0CA5E8;
$primaryDarkColor: #09719E;
$primaryLightColor: #bcaaa4;
$accentColor: #8BC34A;
$accentDarkColor: #558B2F;
$accentLightColor: #C5E1A5;
$accentTextColor: #ffffff;

@import '../sass/theme/_theme';

